# Python cache
__pycache__/
*.py[cod]

# Bytecode
*.pyc
*.pyo

# Virtual environments
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp

# IDE files
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Python build
build/
dist/
*.egg-info/